body {
  background: #ebd8bd;
}
.custom-font{
  color: #191107;
  font-size: 100px;
  justify-content: center;
}

.footer {
  font-size: 20px;
  display: flex;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  align-items: center;
}

:root {
  --background-light: #FFFFFF;
  --background-dark: #d8b27e;
  /* --text-light: #000000;
  --text-dark: #FFFFFF; */
}
body.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}
body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
.BGimage {
  width: 100%;
  height: auto;
margin: 0px;
padding: 0px;
position: absolute;
bottom: 0;
opacity: 90%;
top: -45%; /* Move the image up by 50% of its height */
bottom: -20%; /* Move the image down by 50% of its height */
left: 0; /* Stick the image to the left side of the container */
right: 0; /* Stick the image to the right side of the container */
margin: auto;
}
.hero-container{
  height: 50vh;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;


}

.relative-position {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the text is on top of the background image */
}
.navbarClasses {
  /* font-family: 'Your Chosen Font', sans-serif; Use the actual font name */
  color: #3e3c12;
}
.nav-link {
  color: #3e3c12
}